<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 包扫描，只要标准了@controller @server @repository-->
    <bean id="person" class="com.spring.annotaion.Person">
        <property name="age" value="18"></property>
        <property name="name" value="lisi"></property>
    </bean>
</beans>